attrs==19.1.0
certifi==2019.3.9
chardet==3.0.4
Click==7.0
dash==0.43.0
dash-core-components==0.48.0
dash-html-components==0.16.0
dash-renderer==0.24.0
dash-table==3.7.0
decorator==4.4.0
numpy
pandas
requests==2.22.0
gunicorn

